<footer class="footer__box">

    <div class="container">

        <a class="footer__arrow" href="#"><img src="assets/images/ico-arrow.svg" alt="back to top icon"></a>

        <div class="footer__content">
            <nav class="menu__web">
                <ul>

                    <li class="li--item li--1"><a class="link--item" href="">articles</a></li>
                    <li class="li--item li--2">books</li>
                    <li class="li--item li--3">events</li>
                    <li class="li--item li--4">reasons</li>
                    <li class="li--item li--5">tips</li>
                </ul>
            </nav>

            <nav class="menu__rrss">
                <ul>
                    <li class="li--item li--6">twitter</li>
                    <li class="li--item li--7">instagram</li>
                    <li class="li--item li--8">mastodon.social</li>
                </ul>
            </nav>

            <div class="copy-love">
                <p class="copy">©2017</p>
                <p class="love">we <span class="heart">❤︎</span> components</p>
            </div>
        </div>

    </div>

</footer>