<section class="reasons__box">
    <div class="container">

        <h2 class="reasons--title">3 reasons to purchase</h2>

        <ul class="reasons__wrapper">

            <li class="reasons--li reasons__grid-1">
                <h3 class="reasons--articles-title">ut sed metus</h3>
                <p class="reasons--text">lorem ipsum dolor sit amet, consecteur.</p>
            </li>
            <li class="reasons--li reasons__grid-2">

                <h3 class="reasons--articles-title">curabitur ac erat</h3>
                <p class="reasons--text">mauris mattis urna quis lorem molestie.</p>
            </li>
            <li class="reasons--li reasons__grid-3">

                <h3 class="reasons--articles-title">morbi dictum</h3>
                <p class="reasons--text">aliquam in dolor et dolor tincidunt.</p>
            </li>

        </ul>

        <button type="button" class="reasons__button">more reasons</button>
    </div>

</section>