<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Evaluación final martagrio</title>
    <link rel="icon" href="favicon.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">

    <!-- HEADER -->
    <partial src="_header.html" label="header"></partial>


    <!-- MAIN -->

    <!-- <partial src="_main.html" label="main"></partial> -->

    <main class="main__box">

        <!-- HERO -->
        <partial src="_hero.html" label="label"></partial>


        <!-- TIPS -->
        <partial src="_tips.html" label="tips"></partial>

        <!-- REASONS -->
        <section class="reasons__box">
            <div class="container">
                <div class="reasons__wrapper">

                    <h2 class="reasons--title">3 reasons to purchase</h2>
                    <div class="reasons__grid-1">
                        <h3 class="reasons--articles-title">ut sed metus</h3>
                        <p class="reasons--text">lorem ipsum dolor sit amet, consecteur.</p>
                    </div>
                    <div class="reasons__grid-s">

                        <h3 class="reasons--articles-title">curabitur ac erat</h3>
                        <p class="reasons--text">mauris mattis urna quis lorem molestie.</p>
                    </div>
                    <div class="reasons__grid-3">

                        <h3 class="reasons--articles-title">morbi dictum</h3>
                        <p class="reasons--text">aliquam in dolor et dolor tincidunt.</p>
                    </div>

                    <button type="button" class="reasons__button">        more reasons
                    </button>
                </div>
            </div>

        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer__box">
        <div class="container">

        </div>

    </footer>
</body>

</html>


<!--  <div class="page">
        <partial src="_header.html" label="Header"></partial>
        <partial src="_main.html" label="Main"></partial>
        <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
        <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial>
    </div> -->