<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Evaluación final martagrio</title>
    <link rel="icon" href="favicon.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">

    <!-- HEADER -->
    <partial src="_header.html" label="header"></partial>

    <!-- MAIN -->
    <partial src="_main.html" label="main"></partial>

    <!-- FOOTER -->
    <partial src="_footer.html" label="footer"></partial>

</body>

</html>