<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Evaluación final martagrio</title>
    <link rel="icon" href="favicon.jpg" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:400,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body class="page">

    <!-- HEADER -->
    <partial src="_header.html" label="header"></partial>


    <!-- MAIN -->

    <!-- <partial src="_main.html" label="main"></partial> -->

    <main class="main__box">

        <!-- HERO -->
        <partial src="_hero.html" label="label"></partial>


        <!-- TIPS -->
        <section class="tips__container" id="tips">
            <div class="container">
                <h4 class="tips--small">insomnia tips</h4>

                <h2 class="tips--title">looking through a window</h2>

                <p class="tips--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.</p>

                <a href="" class="tips--link">GO</a>


            </div>

        </section>

        <!-- REASONS -->
        <section class="reasons__box">
            <div class="container"></div>

        </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer__box">
        <div class="container"></div>

    </footer>
</body>

</html>


<!--  <div class="page">
        <partial src="_header.html" label="Header"></partial>
        <partial src="_main.html" label="Main"></partial>
        <partial src="_link.html" aClass="link__adalab" text="Adalab" url="https://adalab.es"></partial>
        <partial src="_link.html" aClass="link__github" text="GitHub" url="https://github.com"></partial>
    </div> -->