.header__button {
    background-color: $color--cerulean;
    padding: 15px 14px;
    height: 44px;
    width: 44px;
    border: 0px;
}

.reasons__button {
    border: none;
    border-radius: 22.5px;
    padding: 0 30px;
    margin: 45px 0 60px;
    width: 184px;
    height: 45px;
    background-color: $color--bright-orange;
    color: $color--white;
    &::first-letter {
        text-transform: capitalize;
    }
}