.hero__box {
    background: url("../images/cover.jpg") center bottom no-repeat;
    height: 100vh;
    color: $color--white;
}

.hero__box .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
}

.hero--arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color--white;
    padding: 15.3px 12.5px;
    box-sizing: border-box;
    margin-bottom: 53px;
}

.hero--text {
    transform: translateY(-50%);
}

.hero--title {
    text-transform: uppercase;
    font-size: 42px;
    width: 290px;
}

.hero--sub {
    padding-top: 10px;
}