.hero__box {
    background: url("../images/cover.jpg") center bottom no-repeat;
    background-size: cover;
    color: $color--white;
    & .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}

.hero--text {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 50vh;
    @media all and (min-width: 768px) {
        font-size: 24px;
    }
}

.hero--title {
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;
    font-size: 42px;
    width: 290px;
    line-height: 55px;
    @media all and (min-width: 768px) {
        font-size: 80px;
        line-height: 106px;
        width: 690px;
    }
    @media all and (min-width: 1280px) {
        font-size: 100px;
        line-height: 132px;
        width: 730px;
    }
}

.hero--sub {
    &::first-letter {
        text-transform: capitalize;
    }
    @media all and (min-width: 768px) {
        font-size: 24px;
    }
    @media all and (min-width: 1280px) {}
}

.hero--arrow {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: $color--white;
    padding: 17px 13px 15.3px 12px;
    box-sizing: border-box;
    margin-bottom: 13px 0 53px;
    @media all and (min-width: 1280px) {
        margin-bottom: 13px;
    }
}