    .footer__box {
        width: 100%;
        color: $color--black;
        background-color: $color--bright-orange;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        line-height: 30px;
        position: relative;
    }
    
    .li--item {
        list-style: none;
        text-transform: uppercase;
    }
    
    .link--item {
        color: $color--black;
        text-decoration: none;
    }
    
    .footer__arrow {
        position: absolute;
        right: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        background-color: $color--white;
        transform: translate(50%, -50%);
        @media all and (min-width: 768px) {}
        @media all and (min-width: 1280px) {}
    }
    
    .menu__web {
        padding-top: 60px;
    }
    
    .menu__rrss {
        margin: 30px 0;
        @media all and (max-width: 767px) {
            margin: 50px 0;
        }
    }
    
    .copy-love {
        display: flex;
        flex-direction: column;
        padding-bottom: 45px;
        @media all and (min-width: 768px) {
            order: -1;
        }
    }
    
    .love {
        order: -1;
    }
    
    .footer__content {
        text-align: center;
        @media all and (min-width: 768px) {
            text-align: left;
            display: flex;
            justify-content: space-between;
            padding: 45px 0;
            .menu__web,
            .menu__rrss,
            .copy-love {
                padding: 0;
            }
        }
    }
    
    .heart {
        @media all and (min-width: 768px) {
            color: $color--white;
        }
    }