.main__box {
    height: 100%;
    background-color: $color--white;
}

.tips--small {
    margin-top: 30px;
    margin-bottom: 1px;
    color: $color--lightblue;
}

.tips--title {
    color: $color--black;
}

.tips--text {
    margin-top: 15px;
    margin-bottom: 30px;
    color: $color--greyish-brown;
}