.main__box {
    background-color: $color--white;
    height: 100vh;
}

.tips--small {
    margin-top: 30px;
    margin-bottom: 1px;
    color: $color--lightblue;
}

.tips--title {
    color: $color--black;
}

.tips--text {
    margin-top: 15px;
    margin-bottom: 30px;
    color: $color--greyish-brown;
}

.reasons__box {
    margin-top: 45px;
    background-color: $color--ice-blue;
    text-align: center;
    color: $color--black;
}

.reasons--title {
    padding-top: 30px;
    text-transform: capitalize;
}

.reasons--articles-title {
    margin-top: 45px;
    &::first-letter {
        text-transform: capitalize;
    }
}

.reasons--text {
    &::first-letter {
        text-transform: capitalize;
    }
}