.tips--link {
    text-decoration: none;
    height: 45px;
    padding: 0 25px;
    border-radius: 22.5px;
    font-size: 20px;
    text-align: center;
    color: $color--bright-orange;
    border: 2px solid $color--bright-orange;
}