/* Color palette */

$color--white: #ffffff;
$color--lightblue: #8ccbea;
$color--black: #000000;
$color--bright-orange: #f26002;
$color--ice-blue: #eff9ff;
$color--greyish-brown: #4a4a4a;
$color--dark-grey-blue: #304268;
$color--cerulean: #0271bc;
//Fonts

/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif; */